name: monthly

on:
  schedule:
    - cron: "0 6 1 * *"  # Scheduled to run at 6AM on 1st day of every month
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest  # Specifies the runner environment

    env:
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}

    steps:
      - uses: actions/checkout@v2  # Checks-out your repository

      - name: Set up Python
        uses: actions/setup-python@v2  # Sets up Python environment
        with:
          python-version: '3.9'  # Specify the Python version

      - name: Install dependencies
        run: |
          pip install -r requirements.txt  # Install dependencies

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable  # Installs the stable version of Chrome      

      - name: Run Python Script
        run: python app.py